<h1><center>Laboratorio 3: El Pandas no muerde üêº</center></h1>

<center><strong>MDS7202: Laboratorio de Programaci√≥n Cient√≠fica para Ciencia de Datos - Primavera 2024</strong></center>

### Cuerpo Docente:

- Profesores: Ignacio Meza, Sebasti√°n Tinoco
- Auxiliar: Eduardo Moya
- Ayudantes: Nicol√°s Ojeda, Melanie Pe√±a, Valentina Rojas

### Equipo: **SUPER IMPORTANTE - notebooks sin nombre no ser√°n revisados**

- Nombre de alumno 1: Joaqu√≠n Herrera Su√°rez
- Nombre de alumno 2: Hecmar Taucare Reyes

### **Link de repositorio de GitHub:** [Repositorio](https://github.com/Joaquin-HS/MDS7202)

## Reglas:

- **Grupos de 2 personas**
- Fecha de entrega: 6 d√≠as de plazo con descuento de 1 punto por d√≠a. Entregas Jueves a las 23:59.
- Instrucciones del lab el viernes a las 16:15 en formato online. Asistencia no es obligatoria.
- <u>Prohibidas las copias</u>. Cualquier intento de copia ser√° debidamente penalizado con el reglamento de la escuela.
- Tienen que subir el laboratorio a u-cursos y a su repositorio de github. Labs que no est√©n en u-cursos no ser√°n revisados. Recuerden que el repositorio tambi√©n tiene nota.
- Cualquier duda fuera del horario de clases al foro. Mensajes al equipo docente ser√°n respondidos por este medio.
- Pueden usar cualquier material del curso que estimen conveniente.

### Temas a tratar

- Introducci√≥n al manejo de datos tabulares por medio de la libreria `pandas`.

### Objetivos principales del laboratorio

- Entender, aplicar y aprovechar las ventajas que nos ofrece la libreria `pandas` para manejar datos tabulares.
- Aprender a utilizar la documentaci√≥n de pandas (y en general, de cualquier librer√≠a de python) como tambi√©n a buscar soluciones en la web.

> **Nota**: El laboratorio deber√° ser desarrollado sin el uso indiscriminado de iteradores nativos de python (aka "for", "while"). La idea es que aprendan a exprimir al m√°ximo las funciones optimizadas que nos entrega `pandas`, las cuales vale mencionar, son bastante m√°s eficientes que los iteradores nativos sobre DataFrames.

### Librerias utiles para el Lab üò∏

In [1]:
# Libreria Core del lab.
import numpy as np
import pandas as pd
from IPython.display import display

#Libreria para plotear
#%pip install --upgrade plotly
import plotly.express as px

# Librerias utiles
from sklearn.preprocessing import StandardScaler

# Rendimiento en Estudiantes üìö

Para este laboratorio deber√°n trabajar con el dataset `students_grades.json` el cual contiene informaci√≥n sobre el rendimiento de alumnos en distintos ramos. El objetivo principal ser√° el de realizar un trabajo de limpieza de prepraci√≥n y exploraci√≥n de datos utilizando exclusivamente `DataFrames` y sus m√©todos asociados.

In [2]:
# Si usted est√° utilizando Colabolatory le puede ser √∫til este c√≥digo para cargar los archivos.
try:
    from google.colab import drive
    drive.mount("/content/drive")
    path = 'Direcci√≥n donde tiene los archivos en el Drive'
except:
    print('Ignorando conexi√≥n drive-colab')

Ignorando conexi√≥n drive-colab

## 1. Carga e Inspecci√≥n de Datos [1.0 Puntos]

<p align="center">
  <img src="https://i.imgur.com/44knnIf.png" width="500" height="500">
</p>

*Don Caguayo*, rector de la Universidad de la Cacha√±a, les comenta que actualmente la Universidad no tiene una subdirecci√≥n de an√°lisis de datos, pero que tiene un gran inter√©s en formar una. Es por esto, que se contacta con ud. y su equipo para iniciar de forma exploratoria diversas tareas de an√°lisis y consolidaci√≥n de datos respectivos al rendimiento de sus alumnos.

Previo a su primera reuni√≥n con el rector, el rector le env√≠a una copia de la base de datos, la cu√°l a usted y su equipo le encantar√≠a examinar. Para esto, la primera tarea que debe realizar es abrir y cargar el dataset.


> **Notar que es sumamente importante el formato que posee cada columna** para su manipulaci√≥n y que posiblemente ustedes deber√°n especificar algunos tipos de datos a mano. Ver la documentaci√≥n del m√©todo `read_json` para mayor informaci√≥n.

A continuaci√≥n se muestra un ejemplo de los dos primeros registros del dataset:

```json
[
  {
    "names": "Rita Courtney",
    "gender": "female",
    "race/ethnicity": "group B",
    "parental level of education": "some high school",
    "lunch": "standard",
    "test preparation course": "none",
    "math score": 37,
    "reading score": 46,
    "writing score": 46
  },
  {
    "names": "Madeline Fuller",
    "gender": "female",
    "race/ethnicity": "group C",
    "parental level of education": "some high school",
    "lunch": "standard",
    "test preparation course": "none",
    "math score": 124,
    "reading score": 142,
    "writing score": 142
  }
]
```

In [3]:
# Se carga el dataset
df_grades = pd.read_json('students_grades.json')

# Se muestran los primeros registros para revisar el contenido
display(df_grades.head())

,names,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,Rita Courtney,female,group B,some high school,standard,none,37,46,46
1,Madeline Fuller,female,group C,some high school,standard,none,124,142,142
2,Daniel Rester,male,group E,associate's degree,standard,none,156,196,193
3,Charles Linstrom,male,group A,bachelor's degree,standard,completed,80,78,81
4,Geraldine Hale,female,group A,associate's degree,standard,none,131,166,166

In [4]:
# Se muestran los tipos de datos
df_grades.dtypes

names                          object
gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                     object
reading score                  object
writing score                  object
dtype: object

In [5]:
# Se especifica el tipo de dato de cada columna
df_grades = pd.read_json('students_grades.json', dtype={
    'names': 'string',
    'gender': 'string',
    'race/ethnicity': 'string',
    'parental level of education': 'string',
    'lunch': 'string',
    'test preparation course': 'string',
    'math score': 'int64',
    'reading score': 'int64',
    'writing score': 'int64'
})

# Se muestran los tipos de datos especificados
df_grades.dtypes

names                          string[python]
gender                         string[python]
race/ethnicity                 string[python]
parental level of education    string[python]
lunch                          string[python]
test preparation course        string[python]
math score                             object
reading score                          object
writing score                          object
dtype: object


<p align="center">
  <img src="https://i.giphy.com/media/4FQMuOKR6zQRO/giphy.webp">
</p>


Posteriormente, el rector les comenta que la secci√≥n de TI posee una base de datos con m√°s de **1000** filas, en donde cada fila representa un alumno matriculado. Sin embargo, cree fuertemente que existen errores en esta: solo tiene registro de **1000** matriculas. Por este motivo, especula que se han realizado malas pr√°cticas al registrar dichos datos.

En consecuencia, el rector les solicita a ustedes como tarea inicial que exploren la base de datos y encuentre posibles falencias dentro de sus registros. Para esto, usted debe estar al tanto que las notas est√°n en una escala que van del **0 al 100** (porcentaje de logro) y **no es posible que un alumno haya dado m√°s de una vez el mismo examen**. Cualquier registro que posea un valor diferente a esta escala, **deber√≠a ser eliminado de la base de datos**.

> **Instrucciones**

**Cree una funci√≥n** que tome un `DataFrame` y que le permita revisar si las diferentes variables que lo componen son coherentes y si es posible observar anomal√≠as en estas.

**To-Do**
1. [ ] Imprimir un mensaje con las dimensiones del Dataframe.
2. [ ] Imprimir un mensaje con los nombres de las columnas que conforman el DataFrame.
3. [ ] Mostrar los primeros 5, los √∫ltimos 5 elementos del DataFrame y realice un muestreo de 5 elementos de forma aleatoria.
4. [ ] Mostrar una descripci√≥n r√°pida de las variables num√©ricas del DataFrame (utilice un m√©todo visto en clases).
5. [ ] Imprimir un mensaje con la cantidad de valores nulos (investigue el m√©todo `isna()` y `sum()` de los DataFrames).
6. [ ] Imprimir un mensaje que detalle la cantidad de valores unicos (investigue `nunique()`) .
7. [ ] Imprimir un mensaje con el total de filas que contengan nombres duplicados (investigue `duplicated()` y su par√°metro `subset`).
8. [ ] Mostrar las filas que contengan nombres sean duplicados (investigue `duplicated()` y su par√°metro `subset`).

Finalmente, responda las siguientes preguntas (comente esto en la celda ubicada debajo de **justificaci√≥n**.):

9. [ ] ¬øQu√© anomal√≠as es posible observar de los datos que componen el DataFrame? ¬øExisten valores nulos o duplicados?

10. [ ] Su compa√±ero ChatGPT le provee un c√≥digo para que pueda entender los resultados de las pruebas desde un gr√°fico. ¬øQu√© puede interpretar de la distribuci√≥n de las notas en el boxplot?

> **Nota:** Para imprmir utilice `print(...)`. Para mostrar `DataFrames`, utilice `display(...)` ya que este permite mostrar estos elementos como tablas.

> **Nota 2:** Utilice la documentaci√≥n de [pandas](https://pandas.pydata.org/docs/index.html) como tambi√©n StackOverflow para resolver cualquier problema o inconveniente.

> **Nota 3:** Si no ha trabajado con boxplot antes, el siguiente link puede serle de mucha ayuda: [boxplot](https://medium.com/dayem-siddiqui/understanding-and-interpreting-box-plots-d07aab9d1b6c)

**Respuesta:**

In [6]:
def exploratory_data_analysis(df):
    # Se fuerzan valores de las columnas num√©ricas. Valores no convertibles son nulos.
    # Esto permite que algunos de los aspectos solicitados en el enunciado puedan ser realizados.
    # Las columnas se convierten a tipo Int64 para que sean enteros permitiendo valores nulos.
    df["math score"] = pd.to_numeric(df["math score"], errors='coerce').astype('Int64')
    df["reading score"] = pd.to_numeric(df["reading score"], errors='coerce').astype('Int64')
    df["writing score"] = pd.to_numeric(df["writing score"], errors='coerce').astype('Int64')
    
    # 1. Imprimir un mensaje con las dimensiones del DataFrame
    print(f"El dataframe tiene {df.shape[0]} filas y {df.shape[1]} columnas.\n")

    # 2. Imprimir un mensaje con los nombres de las columnas que conforman el DataFrame
    print("Nombres de las columnas:")
    print(df.columns.tolist(), "\n")

    # 3. Mostrar los primeros 5, los √∫ltimos 5 elementos y un muestreo aleatorio de 5 elementos
    print("Primeros 5 elementos:")
    display(df.head())
    print("\n√öltimos 5 elementos:")
    display(df.tail())
    print("\nMuestreo aleatorio de 5 elementos:")
    display(df.sample(5))

    # 4. Mostrar una descripci√≥n r√°pida de las variables num√©ricas del DataFrame
    print("\nDescripci√≥n de las variables num√©ricas:")
    display(df.describe())

    # 5. Imprimir un mensaje con la cantidad de valores nulos en el DataFrame
    print("\nCantidad de valores nulos:")
    print(df.isna().sum())

    # 6. Imprimir un mensaje que detalle la cantidad de valores √∫nicos en el DataFrame
    print("\nCantidad de valores √∫nicos:")
    print(df.nunique())

    # 7. Imprimir un mensaje con el total de filas que contengan nombres duplicados en el DataFrame
    print("\nCantidad de nombres duplicados:")
    print(df.duplicated(subset='names').sum())

    # 8. Mostrar las filas que contengan nombres sean duplicados en el DataFrame
    print("\nFilas con nombres duplicados:")
    display(df[df.duplicated(subset='names', keep="first")])  # Se mantiene la primera ocurrencia

In [7]:
# C√≥digo del amigo ChatGPT (listo para usar)
fig = px.box(
    df_grades.melt(
        value_vars=["math score", "reading score", "writing score"],
        var_name="subject",
        value_name="score",
    ),
    y="score",
    color="subject",
)
fig.show()

In [8]:
exploratory_data_analysis(df_grades)

El dataframe tiene 1400 filas y 9 columnas.

Nombres de las columnas:
['names', 'gender', 'race/ethnicity', 'parental level of education', 'lunch', 'test preparation course', 'math score', 'reading score', 'writing score']

Primeros 5 elementos:

,names,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,Rita Courtney,female,group B,some high school,standard,none,37,46,46
1,Madeline Fuller,female,group C,some high school,standard,none,124,142,142
2,Daniel Rester,male,group E,associate's degree,standard,none,156,196,193
3,Charles Linstrom,male,group A,bachelor's degree,standard,completed,80,78,81
4,Geraldine Hale,female,group A,associate's degree,standard,none,131,166,166

√öltimos 5 elementos:

,names,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
1395,Alexander Dillon,male,group D,associate's degree,standard,none,193,142,193
1396,Marina Zeigler,female,group C,bachelor's degree,free/reduced,completed,66,74,81
1397,Laurie Carter,female,group B,some high school,standard,completed,54,61,62
1398,Joseph Mccoy,male,group D,some college,free/reduced,none,193,196,193
1399,Amanda Perez,female,group A,high school,standard,completed,68,80,76

Muestreo aleatorio de 5 elementos:

,names,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
281,Georgia Collins,female,group B,some high school,standard,none,62,64,66
956,Jennie Blackwood,female,group C,associate's degree,standard,none,65,76,76
171,Judith Foster,female,group C,bachelor's degree,standard,none,83,93,95
1357,Jeffrey Bostrom,male,group E,associate's degree,standard,completed,71,74,68
1178,Christopher Emmons,male,group C,high school,free/reduced,completed,58,51,52

Descripci√≥n de las variables num√©ricas:

       math score  reading score  writing score
count      1360.0         1360.0         1353.0
mean    89.538971      93.086029      91.852919
std     47.152422      46.385775       47.04357
min           0.0           17.0           10.0
25%          59.0           63.0           62.0
50%          72.0           76.0           75.0
75%         97.25          100.0          100.0
max         196.0          196.0          196.0

Cantidad de valores nulos:
names                           0
gender                          0
race/ethnicity                  0
parental level of education     0
lunch                           0
test preparation course         0
math score                     40
reading score                  40
writing score                  47
dtype: int64

Cantidad de valores √∫nicos:
names                          1153
gender                            2
race/ethnicity                    5
parental level of education       6
lunch                             2
test preparation course           2
math score                       96
reading score                    88
writing score                    92
dtype: int64

Cantidad de nombres duplicados:
247

Filas con nombres duplicados:

,names,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
12,Rita Courtney,female,group B,some high school,standard,none,193,193,193
81,Elizabeth Quintero,female,group B,some college,standard,none,82,85,87
160,Michelle Gonzales,female,group B,some high school,standard,completed,60,70,74
170,Carla Mendoza,female,group D,associate's degree,free/reduced,none,43,60,58
176,Darlene Parker,female,group C,associate's degree,standard,none,54,61,58
...,...,...,...,...,...,...,...,...,...
1385,James Crawford,male,group D,master's degree,standard,none,193,147,131
1390,Gloria Bradford,female,group B,high school,standard,none,124,64,193
1393,Adam Romero,male,group C,high school,standard,completed,124,193,49
1395,Alexander Dillon,male,group D,associate's degree,standard,none,193,142,193
1398,Joseph Mccoy,male,group D,some college,free/reduced,none,193,196,193

**Justificaci√≥n:**

En primer lugar, se destaca que existen valores nulos dentro de las columnas num√©ricas del dataframe, lo que quiere decir que algunas personas no cuentan con alguna o algunas calificaciones. Por otro lado, existen varias filas duplicadas, espec√≠ficamente 247. Es importante tambi√©n destacar que existen 1400 filas, cuando deber√≠an ser 1000 seg√∫n lo especificado por el rector. Si se descuentan las 247 duplicadas, quedan 1153 en total (mismo valor de nombres √∫nicos), con 153 pendientes de revisi√≥n.

Analizando los *boxplots* generados (y la descripci√≥n de las variables num√©ricas) se aprecia que, para cada evaluaci√≥n, aproximadamente un 25% de las notas est√° sobre la calificaci√≥n m√°xima posible (100), lo que genera una distorsi√≥n en los gr√°ficos. Siguiendo lo mencionado por el rector, se deben eliminar de la base de datos dichos registros.

## 2 Limpieza de Datos [1.0 puntos]

<p align="center">
  <img src="https://blogdatlas.files.wordpress.com/2020/07/datlas_mx_blog_limpieza_bds_data-scrubbing-service.gif">
</p>

En base a lo realizado anteriormente, realice una limpieza de los dataset. Asuma los supuestos se√±alados en la pregunta anterior para limpiar el `DataFrame` y **cree una funci√≥n** que le permita limpiar los datos. Habiendo limpiado el `DataFrame`, compruebe nuevamente los datos con la funci√≥n creada en la secci√≥n 1.1.

**To-Do:**
- [ ] Eliminar registros con valores nulos.
- [ ] Eliminar valores fuera del rango v√°lido.
- [ ] Eliminar registros con nombres duplicados
- [ ] Comprobar que no existen anomal√≠as en los datos a traves de la funci√≥n de la secci√≥n 1.1.

**Hints**

- Puede ser √∫til los m√©todos ```.drop_duplicates()``` y ```.dropna()``` como tambi√©n utilizar queries con m√°scaras booleanas.
- Cuidado con el orden en la limpieza de datos. ¬øQue se debe eliminar primero, los nombres duplicados o los registros fuera del rango posible?

> Utilice la funci√≥n creada en el punto 1 para verificar sus resultados.

**Respuesta:**

In [9]:
def clean_data(df):
    print(f"El dataframe tiene {df.shape[0]} filas y {df.shape[1]} columnas.\n")

    # En primer lugar se eliminan registros con nombres duplicados, ya que no es posible que un alumno haya
    # dado m√°s de una vez el mismo examen. As√≠, se est√° trabajando solo con registros v√°lidos.
    print("Se eliminan registros duplicados.")
    df = df.drop_duplicates(subset=["names"], keep="first")
    print(f"El dataframe tiene {df.shape[0]} filas y {df.shape[1]} columnas.\n")

    # El segundo paso ser√≠a eliminar registros con valores nulos (de haber), ya que se est√° trabajando con
    # registros v√°lidos pero por alguna raz√≥n algunas celdas no est√°n completas.
    print("Se eliminan registros con valores nulos.")
    df.dropna(inplace=True)
    print(f"El dataframe tiene {df.shape[0]} filas y {df.shape[1]} columnas.\n")

    # Por √∫ltimo, teniendo registros v√°lidos y completos, se filtran para dejar solo aquellas filas
    # que poseen valores dentro del rango admitido de notas (entre 0 y 100).
    print("Se filtran las filas con valores dentro del rango admitido de notas (entre 0 y 100).")
    df = df[
        (df["math score"] >= 0) & (df["math score"] <= 100)
        & (df["reading score"] >= 0) & (df["reading score"] <= 100)
        & (df["writing score"] >= 0) & (df["writing score"] <= 100)
    ]
    print(f"El dataframe tiene {df.shape[0]} filas y {df.shape[1]} columnas.\n")

    return df

In [10]:
df_grades = clean_data(df_grades)
df_grades

El dataframe tiene 1400 filas y 9 columnas.

Se eliminan registros duplicados.
El dataframe tiene 1153 filas y 9 columnas.

Se eliminan registros con valores nulos.
El dataframe tiene 1084 filas y 9 columnas.

Se filtran las filas con valores dentro del rango admitido de notas (entre 0 y 100).
El dataframe tiene 875 filas y 9 columnas.

C:\Users\joaco\AppData\Local\Temp\ipykernel_24676\2523818197.py:13: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,names,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,Rita Courtney,female,group B,some high school,standard,none,37,46,46
3,Charles Linstrom,male,group A,bachelor's degree,standard,completed,80,78,81
5,Brian Young,male,group C,some high school,standard,none,73,66,63
6,Howard Jimenez,male,group E,some high school,standard,completed,81,75,76
7,Wayne Wilson,male,group B,some high school,standard,completed,94,86,87
...,...,...,...,...,...,...,...,...,...
1392,Richard Young,male,group D,high school,standard,none,69,75,71
1394,Wanda Russell,female,group B,high school,free/reduced,completed,23,44,36
1396,Marina Zeigler,female,group C,bachelor's degree,free/reduced,completed,66,74,81
1397,Laurie Carter,female,group B,some high school,standard,completed,54,61,62
1399,Amanda Perez,female,group A,high school,standard,completed,68,80,76

In [11]:
exploratory_data_analysis(df_grades)

El dataframe tiene 875 filas y 9 columnas.

Nombres de las columnas:
['names', 'gender', 'race/ethnicity', 'parental level of education', 'lunch', 'test preparation course', 'math score', 'reading score', 'writing score']

Primeros 5 elementos:

,names,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,Rita Courtney,female,group B,some high school,standard,none,37,46,46
3,Charles Linstrom,male,group A,bachelor's degree,standard,completed,80,78,81
5,Brian Young,male,group C,some high school,standard,none,73,66,63
6,Howard Jimenez,male,group E,some high school,standard,completed,81,75,76
7,Wayne Wilson,male,group B,some high school,standard,completed,94,86,87

√öltimos 5 elementos:

,names,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
1392,Richard Young,male,group D,high school,standard,none,69,75,71
1394,Wanda Russell,female,group B,high school,free/reduced,completed,23,44,36
1396,Marina Zeigler,female,group C,bachelor's degree,free/reduced,completed,66,74,81
1397,Laurie Carter,female,group B,some high school,standard,completed,54,61,62
1399,Amanda Perez,female,group A,high school,standard,completed,68,80,76

Muestreo aleatorio de 5 elementos:

,names,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
474,Randy Mccarthy,male,group E,associate's degree,standard,none,72,57,62
30,Janine Taylor,female,group C,associate's degree,free/reduced,none,64,73,68
1150,Kimberly Routzahn,female,group C,master's degree,free/reduced,none,52,65,61
628,Mary Kovac,female,group C,associate's degree,standard,completed,68,67,73
1281,Crystal Smith,female,group C,high school,free/reduced,none,66,76,68

Descripci√≥n de las variables num√©ricas:

       math score  reading score  writing score
count       875.0          875.0          875.0
mean    66.225143      69.195429      68.114286
std     15.076716       14.62927       15.17422
min           0.0           17.0           10.0
25%          57.0           59.0           57.5
50%          66.0           70.0           69.0
75%          76.5           79.0           79.0
max         100.0          100.0          100.0

Cantidad de valores nulos:
names                          0
gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

Cantidad de valores √∫nicos:
names                          875
gender                           2
race/ethnicity                   5
parental level of education      6
lunch                            2
test preparation course          2
math score                      79
reading score                   72
writing score                   77
dtype: int64

Cantidad de nombres duplicados:
0

Filas con nombres duplicados:

Empty DataFrame
Columns: [names, gender, race/ethnicity, parental level of education, lunch, test preparation course, math score, reading score, writing score]
Index: []

**Justificaci√≥n:**

En primer lugar se eliminan registros con nombres duplicados, ya que no es posible que un alumno haya dado m√°s de una vez el mismo examen. As√≠, se est√° trabajando solo con registros v√°lidos.

El segundo paso ser√≠a eliminar registros con valores nulos (de haber), ya que se est√° trabajando con registros v√°lidos pero por alguna raz√≥n algunas celdas no est√°n completas.

Por √∫ltimo, teniendo registros v√°lidos y completos, se filtran para dejar solo aquellas filas que poseen valores dentro del rango admitido de notas (entre 0 y 100).

## 3. Trabajando con Datos [2.0 puntos]

<p align="center">
  <img src="https://media3.giphy.com/media/YQitE4YNQNahy/giphy-downsized-large.gif">
</p>

### 3.1 Transformaci√≥n de notas a "Nota Chilena" [0.3 Puntos]

En una de las reuniones con Don Caguayo este les comenta su intenci√≥n de pasar todas sus notas a la "Escala Chilena". Para esto les facilita la siguiente ecuaci√≥n:

$$Nota \, Chilena= \% \, de \, logro*0.06 + 1$$

Utilizando la ecuaci√≥n entregada, cree una funci√≥n que le permita pasar a la escala Chilena las notas del dataframe y entregue las notas redondeadas al segundo decimal.

**To-Do**

- [ ] Tranforme los valores a la escala chilena.

**Respuesta:**

In [12]:
def nota_chilena(dataframe_in, columna):
    dataframe_in[columna] = dataframe_in[columna].apply(lambda x: round(x*0.06 + 1, 2))  # "x" es el % de logro
    # No se retorna nada, ya que se modifica el dataframe directamente

In [13]:
nota_chilena(df_grades, "math score")
nota_chilena(df_grades, "reading score")
nota_chilena(df_grades, "writing score")
df_grades

,names,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,Rita Courtney,female,group B,some high school,standard,none,3.22,3.76,3.76
3,Charles Linstrom,male,group A,bachelor's degree,standard,completed,5.80,5.68,5.86
5,Brian Young,male,group C,some high school,standard,none,5.38,4.96,4.78
6,Howard Jimenez,male,group E,some high school,standard,completed,5.86,5.50,5.56
7,Wayne Wilson,male,group B,some high school,standard,completed,6.64,6.16,6.22
...,...,...,...,...,...,...,...,...,...
1392,Richard Young,male,group D,high school,standard,none,5.14,5.50,5.26
1394,Wanda Russell,female,group B,high school,free/reduced,completed,2.38,3.64,3.16
1396,Marina Zeigler,female,group C,bachelor's degree,free/reduced,completed,4.96,5.44,5.86
1397,Laurie Carter,female,group B,some high school,standard,completed,4.24,4.66,4.72
1399,Amanda Perez,female,group A,high school,standard,completed,5.08,5.80,5.56

### 3.2 Obtenci√≥n de promedio de alumnos [0.3 Puntos]

Con todas las notas adjuntadas, la prestigiosa Universidad De la Cacha√±a necesita obtener el promedio general de cada uno de los alumnos. Para esto se le solicita que calcule el promedio con cada una de las asignaturas y el promedio se anexe como una nueva columna al final del `DataFrame` original. Cabe se√±alar que las notas deben ser redondeadas al segundo decimal.

**To-Do:**
- [ ] Crear funci√≥n que nos permite obtener el promedio de cada uno de los alumnos y anexar esta informaci√≥n en el `DataFrame` original.

**Respuesta:**

In [14]:
def alumnos_promedio(dataframe_in):
    # Notas redondeadas al segundo decimal
    dataframe_in[["math score", "reading score", "writing score"]] = dataframe_in[["math score", "reading score", "writing score"]].round(2)

    # Se calcula el promedio de las tres notas, redondeado al segundo decimal
    dataframe_in["GPA"] = dataframe_in[["math score", "reading score", "writing score"]].mean(axis=1).round(2)

    return dataframe_in  # Se podr√≠a no haber retornado igual que antes. Este enfoque es distinto pero funciona igual.

In [15]:
df_grades = alumnos_promedio(df_grades)
df_grades.head()

,names,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,GPA
0,Rita Courtney,female,group B,some high school,standard,none,3.22,3.76,3.76,3.58
3,Charles Linstrom,male,group A,bachelor's degree,standard,completed,5.80,5.68,5.86,5.78
5,Brian Young,male,group C,some high school,standard,none,5.38,4.96,4.78,5.04
6,Howard Jimenez,male,group E,some high school,standard,completed,5.86,5.50,5.56,5.64
7,Wayne Wilson,male,group B,some high school,standard,completed,6.64,6.16,6.22,6.34

### 3.3 Reprobados y Destacados [0.9 Puntos, 0.3 cada DataFrame]

Contentos con su desempe√±o, la Universidad les solicita que obtengan los alumnos quienes han reprobado el a√±o y los que han tenido desempe√±o de destacado. Para esto se considerar√° que un alumno ha reprobado el a√±o cuando el promedio de notas es inferior a 4.0 en la Escala Chilena, y se considerar√° destacado si posee notas superiores a 5.8 en todas las asignaturas (o sea notas superiores a 5.8 en `math score`, `reading score` y `writing score`).

Cree una funci√≥n que permita obtener tres Dataframes:
- El primero deber√° poseer solamente los alumnos que han reprobado en la prestigiosa universidad.
- El segundo debe entregar un DataFrame similar al original, pero marcado con una "R" el promedio de notas de los alumnos reprobados.
- El tercero ser√° un Data Frame con los alumnos destacados ordenados de mayor a menor.

**To-Do:**

- [ ] Obtener DataFrame con los alumnos que reprobaron el a√±o.
- [ ] Obtener DataFrame similar al original, pero marcados con una "R" el atributo GPA de los alumnos reprobados.
- [ ] Obtener DataFrame con los alumnos destacados ordenados de mayor a menor.

**Respuesta:**

In [16]:
def reprobados_destacados(dataframe_in):
    # Se identifican los alumnos reprobados (promedio de notas inferior a 4.0):
    dataframe1 = dataframe_in[dataframe_in["GPA"] < 4.0]

    # Se entrega un DataFrame similar al original, pero marcado con una "R" el promedio de notas de los alumnos reprobados:
    dataframe2 = dataframe_in.copy()
    dataframe2["GPA"] = dataframe2["GPA"].apply(lambda x: "R" if x < 4.0 else x)

    # Se identifican los alumnos destacados (notas superiores a 5.8 en todas las asignaturas) ordenados de mayor a menor:
    dataframe3 = dataframe_in[
        (dataframe_in["math score"] > 5.8)
        & (dataframe_in["reading score"] > 5.8)
        & (dataframe_in["writing score"] > 5.8)
    ].sort_values(by="GPA", ascending=False)

    return dataframe1, dataframe2, dataframe3

In [17]:
dataframe1, dataframe2, dataframe3 = reprobados_destacados(df_grades)

print("Alumnos reprobados (promedio de notas inferior a 4.0):")
display(dataframe1)
print("\nAlumnos marcando con R el GPA para alumnos reprobados:")
display(dataframe2)
print("\nAlumnos destacados (notas superiores a 5.8 en todas las asignaturas) ordenados de mayor a menor:")
display(dataframe3)

Alumnos reprobados (promedio de notas inferior a 4.0):

,names,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,GPA
0,Rita Courtney,female,group B,some high school,standard,none,3.22,3.76,3.76,3.58
13,Mikki Amaya,female,group A,high school,free/reduced,completed,3.04,3.88,3.46,3.46
26,Samuel Dougal,male,group C,master's degree,free/reduced,completed,3.76,3.52,3.76,3.68
55,Rodger Talavera,male,group B,high school,free/reduced,none,3.16,2.74,2.62,2.84
63,Morris Johnson,male,group A,associate's degree,free/reduced,completed,3.40,4.30,4.18,3.96
...,...,...,...,...,...,...,...,...,...,...
1371,Charles Harian,male,group C,some high school,free/reduced,completed,3.70,4.12,3.94,3.92
1373,Wendy Gunnell,female,group D,some high school,free/reduced,none,2.62,3.04,2.92,2.86
1389,Diana Costa,female,group C,high school,free/reduced,none,3.46,3.76,3.58,3.60
1391,Amy Sieving,female,group C,high school,standard,none,2.74,2.74,2.80,2.76
1394,Wanda Russell,female,group B,high school,free/reduced,completed,2.38,3.64,3.16,3.06

Alumnos marcando con R el GPA para alumnos reprobados:

,names,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,GPA
0,Rita Courtney,female,group B,some high school,standard,none,3.22,3.76,3.76,R
3,Charles Linstrom,male,group A,bachelor's degree,standard,completed,5.80,5.68,5.86,5.78
5,Brian Young,male,group C,some high school,standard,none,5.38,4.96,4.78,5.04
6,Howard Jimenez,male,group E,some high school,standard,completed,5.86,5.50,5.56,5.64
7,Wayne Wilson,male,group B,some high school,standard,completed,6.64,6.16,6.22,6.34
...,...,...,...,...,...,...,...,...,...,...
1392,Richard Young,male,group D,high school,standard,none,5.14,5.50,5.26,5.3
1394,Wanda Russell,female,group B,high school,free/reduced,completed,2.38,3.64,3.16,R
1396,Marina Zeigler,female,group C,bachelor's degree,free/reduced,completed,4.96,5.44,5.86,5.42
1397,Laurie Carter,female,group B,some high school,standard,completed,4.24,4.66,4.72,4.54
1399,Amanda Perez,female,group A,high school,standard,completed,5.08,5.80,5.56,5.48

Alumnos destacados (notas superiores a 5.8 en todas las asignaturas) ordenados de mayor a menor:

,names,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,GPA
384,Elizabeth Beasley,female,group E,bachelor's degree,standard,none,7.00,7.00,7.00,7.00
677,Richard Pryor,male,group E,bachelor's degree,standard,completed,7.00,7.00,7.00,7.00
1352,Sandra Pompey,female,group E,associate's degree,standard,none,7.00,7.00,7.00,7.00
475,Emma Gray,female,group E,bachelor's degree,standard,completed,6.94,7.00,7.00,6.98
1276,Angela Cressey,female,group D,some college,standard,none,6.88,7.00,6.94,6.94
...,...,...,...,...,...,...,...,...,...,...
949,Rolando Widmer,male,group C,high school,standard,completed,5.92,6.04,5.92,5.96
296,Lucille Stanphill,female,group C,high school,standard,none,5.86,6.04,5.92,5.94
300,Steven Kelly,male,group D,some college,standard,none,5.86,5.92,6.04,5.94
1307,Peter Perez,male,group D,master's degree,standard,none,5.86,5.86,6.04,5.92
96,Harry Berry,male,group B,associate's degree,standard,completed,5.86,5.92,5.92,5.90

### 3.4 Quintiles de Rendimiento [0.5 Puntos]

El rector, intrigado por saber si existe una relaci√≥n entre el nivel educacional de los padres y las notas de sus hijos les plantea estudiar dicha relaci√≥n. Para esto, les solicita que desde el `DataFrame` que posee a todos los alumnos (`DataFrame` obtenido tras la limpieza), generen una nueva columna que clasifique en quintiles de rendimiento para sus alumnos: `['Baj√≠simo', 'Bajo', 'Medio', 'Alto', 'Muy alto']`. (investigar `qcut()`)

Hecho esto, grafique a trav√©s de un scatter plot el nivel educacional de los padres v/s el promedio de los alumnos, utilice los cuantiles generados anteriormente para mostrar en que cuantil se encuentra cada uno de los datos.

Realizado el grafico, responda la siguiente pregunta: **¬øEs posible visualizar alguna tendencia en el gr√°fico?.**

**Respuesta:**

In [18]:
# Se genera una nueva columna que clasifica en quintiles de rendimiento los alumnos: ['Baj√≠simo', 'Bajo', 'Medio', 'Alto', 'Muy alto']
df_grades["GPA cuantiles"] = pd.qcut(df_grades["GPA"], q=5, labels=['Baj√≠simo', 'Bajo', 'Medio', 'Alto', 'Muy alto'])

In [19]:
# C√≥digo de gr√°fico del amigo ChatGPT
fig = px.scatter(
    df_grades.sort_values(by="GPA"),
    x="GPA",
    y="parental level of education",
    hover_data=["gender"],
    color="GPA cuantiles",
    title="GPA por Nivel de educaci√≥n de los padres",
    #color_continuous_scale="magma"
    color_discrete_sequence=["tomato", "orange", "yellow", "greenyellow", "green"]
)

fig

A partir del gr√°fico se pueden extraer algunos fen√≥menos interesantes:
- A medida que aumenta el nivel educacional de los padres los promedios "muy altos" tienden a ser mayores, hasta que se llega a nivel de "college" o alg√∫n "degree" donde se estabiliza m√°s la distribuci√≥n de dichos promedios. Por su parte, siguiendo la misma tendencia de nivel educacional en los padres, los promedios "baj√≠simos" tienden a aumentar, generando que exista un comportamiento menos disparejo en esta categor√≠a (menor n√∫mero de outliers)
- Los cuantiles asociados a promedios bajos, medios y altos tienen comportamientos aproximadamente invariables al nivel educacional de los padres.

Con esto, es en los casos borde (promedios baj√≠simos o muy altos) donde el nivel de educaci√≥n de los padres pasa a ser relevante sobre el promedio de notas de los estudiantes.

## 4. Operaciones con tablas [2.0 puntos]

<p align="center">
  <img src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExYWx5dTBkMGhhOTJmeGQzbDV5M21rNTN1NWVwMm1qbHd3cjh3Nmk4NSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/13HBDT4QSTpveU/giphy.gif">
</p>

### 4.1 Carga de datos y concatenar dataset [0.2 Puntos]

Ya finalizado en an√°lisis inicial, ud. y su equipo le entregaron a *Don Caguayo* (rector de la Universidad de la Cacha√±a) tanto los resultados del an√°lisis como tambi√©n la base de datos limpia y lista para ser almacenada. Dada la ingente cantidad de los datos, el equipo de TI de la universidad resolvi√≥ separar el dataset en dos bases de datos distintas (lo que seg√∫n argumentan ellos, permitir√≠a hacer agregaciones de forma m√°s eficiente).

Gracias a la excelente labor de ud. y su equipo en el an√°lisis previo, el rector le solicita continuar el trabajo con una nueva bater√≠a de an√°lisis. Por este motivo, la secci√≥n de TI les entrega nuevamente los datos. Sin embargo, argumentan que dada una escazes de personal, solo le entregar√°n *dumps* (copias) de cada base de datos y su equipo deber√° unir las bases de datos. Los datos se encuentran en los siguiente archivos `.json`: `students_grades_1.json` y `students_grades_2.json`.


Por ende, ud. y su equipo deciden que la primera tarea se centrar√° en cargar estos datos y unirlos.

**No se preocupe por la limpieza ni transformar el tipo de datos de las columnas, ni tampoco transformar a notas chilenas**, recuerde que anteriormente ya se encargo de este tema.

Hint: investigue el m√©todo `concat`

**Respuesta:**

In [20]:
df_grades_1 = pd.read_json('students_grades_1.json')
df_grades_2 = pd.read_json('students_grades_2.json')

df_grades = pd.concat([df_grades_1, df_grades_2], axis=0)

In [21]:
df_grades

,names,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,GPA,GPA cuantiles
0,Rita Courtney,female,group B,some high school,standard,none,3.22,3.76,3.76,3.58,Baj√≠simo
1,Charles Linstrom,male,group A,bachelor's degree,standard,completed,5.80,5.68,5.86,5.78,Alto
2,Brian Young,male,group C,some high school,standard,none,5.38,4.96,4.78,5.04,Medio
3,Howard Jimenez,male,group E,some high school,standard,completed,5.86,5.50,5.56,5.64,Alto
4,Wayne Wilson,male,group B,some high school,standard,completed,6.64,6.16,6.22,6.34,Muy alto
...,...,...,...,...,...,...,...,...,...,...,...
998,Richard Young,male,group D,high school,standard,none,5.14,5.50,5.26,5.30,Medio
999,Wanda Russell,female,group B,high school,free/reduced,completed,2.38,3.64,3.16,3.06,Baj√≠simo
1000,Marina Zeigler,female,group C,bachelor's degree,free/reduced,completed,4.96,5.44,5.86,5.42,Alto
1001,Laurie Carter,female,group B,some high school,standard,completed,4.24,4.66,4.72,4.54,Bajo
1002,Amanda Perez,female,group A,high school,standard,completed,5.08,5.80,5.56,5.48,Alto

### 4.2 An√°lisis por Nivel Educacional Etnia de los Padres [0.8 Puntos]

El rector, basado en su experiencia, cree fuertemente que el nivel educacional y la etnia de los padres influyen en las notas que obtienen sus hijos.
Como cient√≠ficos de datos, ud. y su equipo creen que deben encontrar evidencia para confirmar o refutar la hip√≥tesis del rector.

Para esto, deciden generar dos an√°lisis: una tabla de resumen por una parte y gr√°ficos de caja por otro.


**Tabla de Resumen [0.5 Puntos]**


Para generar la tabla de resumen:

- [ ] Calcular el promedio de las notas y guardarlo en una variable `GPA` (grade point average).
- [ ] Hacer una simplificaci√≥n a trav√©s de un mapeo (investigar el m√©todo `map()`) de la variable `parental level of education`  seg√∫n la siguiente conversi√≥n:

        some high school -> school
        some college -> school
        high school -> school
        bachelor's degree -> college
        associate's degree -> college
        master's degree -> postgraduate

  Los resultados de este mapeo deben ser guardados en la columna `simple parental level of education`.


- [ ] Agregar seg√∫n 2 niveles: `race/ethnicity` y `simple parental level of education` para obtener el promedio de las notas.
- [ ] Agregar seg√∫n 2 niveles: `race/ethnicity` y `simple parental level of education` para obtener un conteo de los alumnos en cada grupo y agregarlos como una nueva fila count.
- [ ] Obtener el porcentaje de alumnos con respecto al total. Los porcentajes deben ser strings que contienen la frecuencia de cada grupo con respecto al total y deben ser terminados en '%'.

Utilizar la tabla de resultados esperados como gu√≠a para desarrollar este punto.


**An√°lisis [0.3 Puntos]**

Finalmente, responda las siguientes preguntas sobre el gr√°fico de caja que viene implementado a continuaci√≥n. En este se muestra el GPA con respecto al nivel educacional, donde la variable de color es la etnicidad.

- [ ]  ¬øHay alguna diferencia entre los grupos graficados tanto para el nivel educacional de los padres como tambi√©n para la etnicidad?

**Respuesta:**

In [22]:
def tabla_resumen(df):
    # Se genera una tabla resumen con lo solicitado

    # Se calcula el promedio de las notas de cada asignatura
    df["GPA"] = df[["math score", "reading score", "writing score"]].mean(axis=1).round(2)

    # Se mapea la variable "parental level of education":
    df["simple parental level of education"] = df["parental level of education"].map({
        "some high school": "school",
        "some college": "school",
        "high school": "school",
        "bachelor's degree": "college",
        "associate's degree": "college",
        "master's degree": "postgraduate"
    })

    # Se agrega seg√∫n "race/ethnicity" y "simple parental level of education" obteniendo el promedio de notas
    prom = df.groupby(["race/ethnicity", "simple parental level of education"])[["math score", "reading score", "writing score", "GPA"]].mean().round(2)

    # Se agrega seg√∫n "race/ethnicity" y "simple parental level of education" obteniendo el conteo de alumnos
    cont = df.groupby(["race/ethnicity", "simple parental level of education"]).size().reset_index(name='count')

    # Se unen ambos DataFrames generando la tabla resumen
    resumen = pd.merge(prom, cont, on=["race/ethnicity", "simple parental level of education"])
           
    # Se obtiene el porcentaje de alumnos con respecto al total
    total_alumnos = df.shape[0]
    resumen['percentage'] = (resumen['count'] / total_alumnos * 100).round(2).astype(str) + '%'

    return resumen

In [23]:
resumen = tabla_resumen(df_grades)
resumen

,race/ethnicity,simple parental level of education,math score,reading score,writing score,GPA,count,percentage
0,group A,college,4.83,5.05,4.95,4.94,26,2.6%
1,group A,postgraduate,4.46,4.88,5.06,4.80,3,0.3%
2,group A,school,4.65,4.81,4.66,4.71,60,6.0%
3,group B,college,5.03,5.24,5.16,5.14,61,6.1%
4,group B,postgraduate,5.03,5.81,5.63,5.49,6,0.6%
5,group B,school,4.69,4.90,4.79,4.79,123,12.3%
6,group C,college,5.03,5.36,5.33,5.24,118,11.8%
7,group C,postgraduate,5.02,5.23,5.17,5.14,19,1.9%
8,group C,school,4.74,5.00,4.89,4.88,182,18.2%
9,group D,college,5.06,5.22,5.24,5.17,78,7.8%
10,group D,postgraduate,5.35,5.63,5.78,5.59,23,2.3%
11,group D,school,4.99,5.13,5.11,5.08,161,16.1%
12,group E,college,5.53,5.45,5.43,5.47,57,5.7%
13,group E,postgraduate,5.48,5.93,5.83,5.74,8,0.8%
14,group E,school,5.35,5.27,5.11,5.25,75,7.5%

In [28]:
fig = px.box(
    df_grades,
    x="simple parental level of education",
    y="GPA",
    color="race/ethnicity",
    hover_data=["GPA"],
    category_orders={ # Se agrega esto para que aparezcan ordenadas las categor√≠as
        "race/ethnicity": ["group A", "group B", "group C", "group D", "group E"],
        "simple parental level of education": ["school", "college", "postgraduate"]
    }
)
fig.show()

Se mantiene el comportamiento general mencionado previamente con respecto a un aumento del GPA a medida que crece el nivel de educaci√≥n de los padres. Se aprecia, adem√°s, que existe una menor variabilidad en el promedio de notas en el caso de que los padres tengan un nivel de educaci√≥n "postgraduate", comparando con el caso "school" y "college" donde las distribuciones de GPA son m√°s dispersas.

Con respecto a la etnicidad de los padres se puede decir que los grupos B y E cuentan con mejores valores de GPA en general, mientras que los grupos A, C y D tienden a tener promedios m√°s bajos y con mayor variabilidad. Se destaca que estos fen√≥menos se hacen menos apreciables a medida que disminuye el nivel educacional de los padres, debido a la existencia de distribuciones m√°s dispersas como se dijo previamente. Por √∫ltimo, en esa misma tendencia se destaca la aparici√≥n de un mayor n√∫mero de outliers.

**Resultados Esperados**

Esta tabla ilustra la estructura del dataframe a conseguir. Los valores son referenciales, no necesariamente son los esperados.

|    | race/ethnicity   | simple parental level of education   |   math score |   reading score |   writing score |   GPA |   count | percentage   |
|---:|:-----------------|:-------------------------------------|-------------:|----------------:|----------------:|------:|--------:|:-------------|
|  0 | group A          | college                              |         4.83 |            5.05 |            4.95 |  4.94 |      26 | 2.6 %        |
|  1 |                  | postgraduate                         |         4.46 |            4.88 |            5.06 |  4.80 |       3 | 0.3 %        |
|  2 |                  | school                               |         4.65 |            4.81 |            4.66 |  4.71 |      60 | 6.0 %        |
|  3 | group B          | college                              |         5.03 |            5.24 |            5.16 |  5.14 |      61 | 6.1 %        |
|  4 |                  | postgraduate                         |         5.03 |            5.81 |            5.63 |  5.49 |       6 | 0.6 %        |
|  5 |                  | school                               |         4.69 |            4.90 |            4.79 |  4.79 |     123 | 12.3 %       |
|  6 | group C          | college                              |         5.03 |            5.36 |            5.33 |  5.24 |     118 | 11.8 %       |
|  7 |                  | postgraduate                         |         5.02 |            5.23 |            5.17 |  5.14 |      19 | 1.9 %        |
|  8 |                  | school                               |         4.74 |            5.00 |            4.89 |  4.88 |     182 | 18.2 %       |
|  9 | group D          | college                              |         5.06 |            5.22 |            5.24 |  5.17 |      78 | 7.8 %        |
| 10 |                  | postgraduate                         |         5.35 |            5.63 |            5.78 |  5.59 |      23 | 2.3 %        |
| 11 |                  | school                               |         4.99 |            5.13 |            5.11 |  5.08 |     161 | 16.1 %       |
| 12 | group E          | college                              |         5.53 |            5.45 |            5.43 |  5.47 |      57 | 5.7 %        |
| 13 |                  | postgraduate                         |         5.48 |            5.93 |            5.83 |  5.74 |       8 | 0.8 %        |
| 14 |                  | school                               |         5.35 |            5.27 |            5.11 |  5.25 |      75 | 7.5 %        |

### 4.3 Joins, joins y m√°s joins [1 punto]

Mientras le notificaba por videollamada los resultados de sus descubrimientos a Don Caguayo, un exaltado practicante del area de TI entra a la reuni√≥n y les informa que ha encontrado una nueva base de datos que cuenta con las notas de dos asignaturas (en escala chilena): historia y ciencias.
Para m√°s remate, antes de huir, el practicante les cuenta que este dataframe lamentablemente contiene registros de alumnos que ya no forman parte de la universidad, por lo que no deben ser parte de este an√°lisis.


El rector (evidentemente molesto por la situaci√≥n) les ruega incluir estos datos (vaciados en el archivo other_grades.csv) al estudio original(`students_grades.csv`).


Para esto, carge el archivo `other_grades.csv` y busque la forma de unir ambos DataFrames, de tal manera que las columnas de `history score` y `science score` se anexen al final del DataFrame original. **NO LIMPIE LOS DATOS**, si no que explore los distintos tipos de merge para encontrar el mas situable para su situaci√≥n (y as√≠ evitar buscar duplicados o **alumnos que no pertenecen a la universidad**).

**To-Do**


- [ ] Cargar el `other_grades.csv`
- [ ] Unir `df_grades` con `other_grades.csv` usando outer join y explique el resultado.
- [ ] Unir `df_grades` con `other_grades.csv` usando left join y explique el resultado.
- [ ] Unir `df_grades` con `other_grades.csv` usando right join y explique el resultado.
- [ ] Unir `df_grades` con `other_grades.csv` usando inner join y explique el resultado.
- [ ] Defina cu√°l join es el que utilizar√° para generar el nuevo DataFrame.

> **Hint**: Puede explicar los resultados del merge a trav√©s de la cantidad de filas resultantes y los valores que estas contienen.

**Respuesta:**

In [26]:
# Se cargan los archivos
students = pd.read_json('students_grades.json')
other_grades = pd.read_csv('other_grades.csv')

# Outer join (se incluyen todos los estudiantes, independiente de si est√°n en ambas tablas)
df_grades_outer = students.merge(other_grades, how='outer', left_on='names', right_on='names')

# Left join (se incluyen todos los estudiantes del DataFrame original)
df_grades_left = students.merge(other_grades, how='left', left_on='names', right_on='names')

# Right join (se incluyen todos los estudiantes del DataFrame de otras notas)
df_grades_right = students.merge(other_grades, how='right', left_on='names', right_on='names')

# Inner join (se incluyen solo los estudiantes que est√°n en ambos DataFrames)
df_grades_inner = students.merge(other_grades, how='inner', left_on='names', right_on='names')

In [27]:
print("Outer join:", df_grades_outer.shape)
display(df_grades_outer)
print("Left join:", df_grades_left.shape)
display(df_grades_left)
print("Right join:", df_grades_right.shape)
display(df_grades_right)
print("Inner join:", df_grades_inner.shape)
display(df_grades_inner)

Outer join: (1550, 11)

,names,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,science score,history score
0,Aaron Morgan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.35,5.46
1,Aaron Oakden,male,group D,high school,free/reduced,none,66,74,69,3.76,4.60
2,Aaron Oakden,male,group D,high school,free/reduced,none,,193,124,3.76,4.60
3,Aaron Shelly,male,group D,associate's degree,standard,none,61,48,46,3.88,3.90
4,Abigail Hall,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.88,4.59
...,...,...,...,...,...,...,...,...,...,...,...
1545,Zachary Glenn,male,group E,some college,standard,completed,99,87,81,6.94,5.70
1546,Zachary Torres,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.48,6.92
1547,Zoey Campbell,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.05,1.72
1548,Zoey Long,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.75,3.50
1549,Zoey Patterson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.89,6.68

Left join: (1400, 11)

,names,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,science score,history score
0,Rita Courtney,female,group B,some high school,standard,none,37,46,46,2.50,3.8
1,Madeline Fuller,female,group C,some high school,standard,none,124,142,142,NaN,NaN
2,Daniel Rester,male,group E,associate's degree,standard,none,156,196,193,NaN,NaN
3,Charles Linstrom,male,group A,bachelor's degree,standard,completed,80,78,81,4.36,5.2
4,Geraldine Hale,female,group A,associate's degree,standard,none,131,166,166,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1395,Alexander Dillon,male,group D,associate's degree,standard,none,193,142,193,5.80,5.0
1396,Marina Zeigler,female,group C,bachelor's degree,free/reduced,completed,66,74,81,4.54,4.1
1397,Laurie Carter,female,group B,some high school,standard,completed,54,61,62,3.58,4.3
1398,Joseph Mccoy,male,group D,some college,free/reduced,none,193,196,193,4.30,3.4
1399,Amanda Perez,female,group A,high school,standard,completed,68,80,76,4.66,5.3

Right join: (1397, 11)

,names,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,science score,history score
0,Pam Otoole,female,group B,bachelor's degree,standard,none,72,72,74,4.42,4.00
1,Diane Olson,female,group C,some college,standard,completed,69,90,88,3.88,4.80
2,Sarah Flannery,female,group B,master's degree,standard,none,90,95,93,5.32,6.10
3,Stanley Chappell,male,group A,associate's degree,free/reduced,none,47,57,44,3.82,3.70
4,Arnold Dodson,male,group C,some college,standard,none,76,78,75,4.60,5.20
...,...,...,...,...,...,...,...,...,...,...,...
1392,Carson Brooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.72,1.54
1393,Ruby Reed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.71,4.59
1394,Zachary Torres,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.48,6.92
1395,Eliana Gray,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.91,5.41
1396,Gavin James,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.60,6.06

Inner join: (1247, 11)

,names,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,science score,history score
0,Rita Courtney,female,group B,some high school,standard,none,37,46,46,2.50,3.8
1,Charles Linstrom,male,group A,bachelor's degree,standard,completed,80,78,81,4.36,5.2
2,Brian Young,male,group C,some high school,standard,none,73,66,63,4.48,3.8
3,Howard Jimenez,male,group E,some high school,standard,completed,81,75,76,5.32,5.0
4,Wayne Wilson,male,group B,some high school,standard,completed,94,86,87,6.64,4.6
...,...,...,...,...,...,...,...,...,...,...,...
1242,Alexander Dillon,male,group D,associate's degree,standard,none,193,142,193,5.80,5.0
1243,Marina Zeigler,female,group C,bachelor's degree,free/reduced,completed,66,74,81,4.54,4.1
1244,Laurie Carter,female,group B,some high school,standard,completed,54,61,62,3.58,4.3
1245,Joseph Mccoy,male,group D,some college,free/reduced,none,193,196,193,4.30,3.4
1246,Amanda Perez,female,group A,high school,standard,completed,68,80,76,4.66,5.3

En primer lugar, dado que hay que considerar `students_grades.json`, se destaca que los registros no est√°n limpios ni en un formato correcto (formato chileno, con duplicados, etc). Obviando este punto, se muestra a continuaci√≥n un an√°lisis para cada tipo de join:

- Outer join: Este formato de join incluye todos los estudiantes de ambos dataframes, es decir, los que est√°n en ambos y en uno o el otro de manera individual. Esto genera un dataframe con un gran n√∫mero de registros, donde muchos de ellos contienen nulos.

- Left join: Este formato de join incluye todos los estudiantes del dataframe original, anexando las notas de `science` y `history` solo si hay coincidencias con el nombre.

- Right join: De manera similar al left join, el right join incluye todos los estudiantes del dataframe asociado a las notas de `science` y `history`, agregando la informaci√≥n de `students_grades` solo si hay coincidencias en los nombres.

- Inner join: Este tipo de join incluye solamente a los estudiantes que est√°n en ambos dataframes.

Se considera que el join m√°s adecuado ser√≠a el **inner join**, ya que permite asegurar que solo se incluyan los estudiantes que est√°n en ambos dataframes, evitando registros asociados a personas que no est√°n en la universidad (limpiando filas de ambos dataframes). Es importante destacar que esto no necesariamente generar√≠a el dataframe final totalmente limpio, pero ayuda a reducir un gran n√∫mero de problemas de limpieza que puede tener cada dataframe.

# Conclusi√≥n


Eso ha sido todo para el lab de hoy, recuerden que el laboratorio tiene un plazo de entrega de una semana y que **los d√≠as de atraso no se pueden utilizar para entregas de lab** solo para tareas. Cualquier duda del laboratorio, no duden en contactarnos por mail o U-cursos.

<p align="center">
  <img src="https://media1.tenor.com/images/2f7df460196625edc45b8380d158e5ee/tenor.gif?itemid=16669403">
</p>